### Jesus Olivera
### AIM 5001 Week 12 Assignment
### Working with HTML, XML, JSON and Web APIs

## Approach:

**Part I**
<br>

I started the assignment by creating the 3 files in the 3 different formats by hand (json, html and xml) and uploading them to my Github. Then I imported all the libraries required to complete the assignment.

In [14]:
import pandas as pd
import requests
from pandas.io.json import json_normalize
import json
import urllib.request
import numpy as np
from lxml import etree
from lxml import objectify

### JSON File
I used the "request.get" function to open the file and created a dataframe with the values. Variable "json_df" contains the dataframe.

In [15]:
# Loading json file to Jupyter 
r = 'https://raw.githubusercontent.com/jaynuel/AIM-5001/master/bookjson.json'

data = requests.get(r)

booksjson = data.json()

json_df = pd.DataFrame(booksjson)

json_df

,Book,Author 1,Author 2,Attribute 1,Attribute 2,Attribute 3
0,Afrodita,Isabel Allende,null,Recipes,Stories,Spanish
1,To Life!,Harold Kushner,null,Jewish,Wisdom,Humor
2,The Era of Uncertainty,François Trahan,Katherine Krantz,Investment,Finance,Global

### HTML

I used the "pd.read_html" to import the file. Variable called "books_html" contains the dataframe.

In [16]:
# Importing the HTML file to Jupyter
data1 = pd.read_html('https://raw.githubusercontent.com/jaynuel/AIM-5001/master/bookhtml2.htm')

books_html = data1[0]

books_html

,Book,Author 1,Author 2,Attribute 1,Attribute 2,Attribute 3
0,Afrodita,Isabel Allende,NaN,Recipes,Stories,Spanish
1,To Life!,Harold Kushner,NaN,Wisdom,Humor,Jewish
2,The Era of Uncertainty,FranÃ§ois Trahan,Katherine Krantz,Investment,Finance,Global

### XML

To accomplish this part of the assignmnet, I used the "urllib.request.urlretrieve" function to import the file to Jupyter. I parsed through the data using the "objectify.parse" function from the "lxml" library. Variable "r3" contains the root. I created a loop to iterate through the data and match the tags I was iterating for. I appended the results to lists, and created the dataframe using the "pd.concat" function. Variable "b_xml" contains the dataframe.

In [17]:
# Importing XML file to Jupyter
path, header = urllib.request.urlretrieve("https://raw.githubusercontent.com/jaynuel/AIM-5001/master/Booksxml2.xml")

# Parsing through the data
data2 = objectify.parse(open(path))

# Root
r3 = data2.getroot()

#Empty lists for results
skip = []
books_xml = []
books_xml1 = []
books_xml2 = []
books_xml3 = []
books_xml4 = []
books_xml5 = []


# For loop to iterate and macth tags
for x in r3.book:
    elm = {}
    elm1 = {}
    elm2 = {}
    elm3 = {}
    elm4 = {}
    elm5 = {}

    for y in x.getchildren():
        if x.tag in skip:
            continue
        elm[x.tag] = x.Book
        elm1[x.tag] = x.Author1
        elm2[x.tag] = x.Author2
        elm3[x.tag] = x.Attribute1
        elm4[x.tag] = x.Attribute2
        elm5[x.tag] = x.Attribute3

# Appending results to empty lists
    books_xml.append(elm)
    books_xml1.append(elm1)
    books_xml2.append(elm2)
    books_xml3.append(elm3)
    books_xml4.append(elm4)
    books_xml5.append(elm5)

# Creating dataframes with resulst from iteration       
d1 = pd.DataFrame(books_xml)
d2 = pd.DataFrame(books_xml1)
d3 = pd.DataFrame(books_xml2)
d4 = pd.DataFrame(books_xml3)
d5 = pd.DataFrame(books_xml4)
d6 = pd.DataFrame(books_xml5)


# Using concat to create final dataframe
b_xml = pd.concat([d1,d2,d3,d4,d5,d6], axis=1, sort=True)
# Dataframe columns
b_xml.columns = ['Book','Author 1','Author 2','Attribute 1','Attribute 2','Attribute 3']

# Final dataframe
b_xml

,Book,Author 1,Author 2,Attribute 1,Attribute 2,Attribute 3
0,[[[Afrodita]]],[[[Isabel Allende]]],[[[null]]],[[[Recipes]]],[[[Stories]]],[[[Spanish]]]
1,[[[To Life!]]],[[[Harold Kushner]]],[[[null]]],[[[Jewish]]],[[[Wisdom]]],[[[Humor]]]
2,[[[The Era of Uncertainty]]],[[[FranÃ§ois Trahan]]],[[[Katherine Krantz]]],[[[Investment]]],[[[Finance]]],[[[Global]]]

**Part II**
<br>

To complete this part of the assignment, I started by creating my profile in the NYT website and getting my unique key. I used the "requests.get" function to import the data to Jupyter.

In [ ]:
# ywQjJISK01Uq488G8IwvGKJtGvcHqw3t - unique key

# Importing the data 
info = requests.get("https://api.nytimes.com/svc/archive/v1/2019/1.json?api-key=ywQjJISK01Uq488G8IwvGKJtGvcHqw3t")

# Verifying the API status code, 200 means results have been sucesfully returned.
print(info.status_code)

In [ ]:
# Printing the data
info.json()

I started choosing which keys I was going to work with. I used the "dict_keys" and "info.json" to retieve the data. Variable "df" contains the dataframe.

In [ ]:
# Exploring the content of the json file using .keys() function.
info.json().keys()

In [ ]:
# Retriving data using the "response" key
info.json()['response'].keys()

In [ ]:
# Retrieving data from "response" and "docs" keys
data = info.json()['response']['docs']

In [ ]:
# Using the "json_normalize" function to normalize the data into a flat table 
df = json_normalize(data)

# The first 3 rows are printed below
df.head(3)

### Analysis

I performed an analysis on the data to calculate the number of document types. I used the function "groupby" and "nlargest" to reach the results of the analysis.

In [ ]:
grouped = df.groupby('news_desk').document_type.nunique()
grouped.nlargest(10)

**Results**
<br>

Results above show that the document types with more records on the data set are news_desk, books, climate, magazine, science, sports, travel and well. All of the top document types on the dataframe have 2 records.